.building-page {
	padding: 10px;
	background: var(--bg-clr);
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.building-page__btn {
	padding: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.05);
}

.building-page__btn--active {
	color: #fff;
	background: var(--accent-clr);
}

.section-table {
	background: #fff;
	border: var(--primary-border);
	border-radius: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
