.preload {
	position: fixed;
	inset: 0px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.preload__logo {
	font-size: clamp(1.5rem, 2vw, 4rem);
}

.preload__indicator {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: var(--bg-clr);
	width: min(calc(100% - 20px), 200px);
	padding: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

.preload__indicator-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #000;
	z-index: -1;
}
