.sidebar {
	min-width: max-content;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: auto;
}

.sidebar-wrapper {
	border: var(--primary-border);
	padding: 0 5px;
	border-radius: 10px;
}

.sidebar-wrapper-inner {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s;
}

.sidebar-wrapper-inner--visible {
	grid-template-rows: 1fr;
	padding-bottom: 5px;
}

.sidebar__title-btn {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 5px;

	h2 {
		font-weight: 600;
	}
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: hidden;
}

.sidebar__link {
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	color: #000;
	padding: 5px;
	background: rgba(0, 0, 0, 0.05);
	min-height: 40px;
}

.sidebar__link--active {
	background: var(--accent-semi-tp-clr);
	outline: 2px solid var(--accent-clr);
	outline-offset: -2px;
	font-weight: 600;
}

.link--active {
	border: 1px solid var(--accent-clr) !important;
}

.avatar {
	width: 30px;
	height: 30px;
	background: var(--accent-clr);
	padding: 5px;
	border-radius: 50%;
	color: #fff;
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__btn {
	background: var(--accent-clr);
	color: #fff;
	border-radius: 5px;
	width: 30px;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(calc(100% - 20px), 500px);
	background: #fff;
	z-index: 2;
	padding: 25px;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	gap: 10px;
}

.modal-form--visible {
	display: flex;
}

.modal-form__btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.curtain {
	display: none;
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.curtain--visible {
	display: initial;
}

.sidebar__author {
	a {
		color: var(--accent-clr);
	}
}

@media screen and (width < 700px) {
	.sidebar {
		display: none;
	}
}
