:root {
	--bg-clr: rgba(0, 0, 0, 0.025);
	--accent-clr: rgb(0, 179, 255);
	--accent-semi-tp-clr: rgba(0, 179, 255, 0.1);
	--primary-border: 1px solid rgba(0, 0, 0, 0.1);
	--secondary-border: 1px solid rgba(0, 0, 0, 0.2);
	--green-clr: rgb(76, 187, 23);
	--green-tp-clr: rgba(75, 187, 23, 0.1);
	--orange-clr: rgb(249, 157, 76);
	--orange-tp-clr: rgba(249, 157, 76, 0.1);
	--red-clr: rgb(255, 0, 0);
	--red-tp-clr: rgba(255, 0, 0, 0.1);
	--blue-clr: rgb(0, 217, 255);
	--blue-tp-clr: rgba(0, 217, 255, 0.1);
}
