@use "./reset";
@use "./fonts";
@use "./variables";

.body,
html {
	font-family: "Google Sans", sans-serif;
	overscroll-behavior: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100svh;
}

.wrapper-inner {
	display: flex;
	overflow: hidden;
	height: 100svh;
}

// globals

.section {
	background: #fff;
	border: var(--primary-border);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 5px;

	&:focus {
		outline: none;
		border: 1px solid #000;
	}
}

.input--green {
	background: var(--green-tp-clr) !important;
	border: 2px solid var(--green-clr) !important;
	color: var(--green-clr) !important;
}

.input--orange {
	background: var(--orange-tp-clr) !important;
	border: 2px solid var(--orange-clr) !important;
	color: var(--orange-clr) !important;
}

.input--red {
	background: var(--red-tp-clr) !important;
	border: 2px solid var(--red-clr) !important;
	color: var(--red-clr) !important;
}

.input--blue {
	background: var(--blue-tp-clr) !important;
	border: 2px solid var(--blue-clr) !important;
	color: var(--blue-clr) !important;
}

.container-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;

	h2 {
		font-weight: 600;
	}
}

.btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
	width: 100%;
}

th {
	white-space: nowrap;
	width: 100%;
	text-align: left;
	font-weight: initial;
}

td {
	&:first-child {
		width: 100%;
	}
}
