@use "reset" as *;

.body,
html {
	overscroll-behavior: none;
	// padding-left: 300px;
	min-height: 100vh;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.wrapper {
	display: flex;
}

.sidebar {
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// left: 0;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 20px;
	background: rgb(240, 240, 240);
	border-radius: 0 15px 15px 0;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
	// min-width: 200px;
	height: 100dvh;

	ul {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}

.sidebar__link {
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	font-size: 1.25rem;
	padding: 5px;
}

.sidebar__link--active {
	background: rgb(80, 250, 165);
}
