.pop-up {
	position: fixed;
	left: 50%;
	transform: translate(-50%, calc(-100% - 20px));
	top: 10px;
	background: rgb(192, 240, 128);
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}

.pop-up--visible {
	transform: translate(-50%, 0);
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.025);
	padding: 10px;
	width: 100%;
}

.home__link {
	padding: 10px;
	border-radius: 5px;
	background: var(--accent-clr);
	color: #fff;

	&:nth-child(2) {
		background: #000;
	}
}

.home-user-container {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	border-radius: 10px;
}

.textarea {
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	resize: none;
	width: 100%;
	font-size: 16px;
}

.btn {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-radius: 15px 15px 0 0;
	transition: background-color 0.3s;
}

.btn--active {
	background: rgb(192, 240, 128);
}

.basic-btn {
	padding: 10px;
	border-radius: 10px;
	height: 40px;
}

.reset-btn {
	@extend .basic-btn;
	background: rgb(255, 112, 112);
	color: #fff;
}

.submit-btn {
	@extend .basic-btn;
	background: rgb(192, 240, 128);
	color: #000;
}

.circle-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	aspect-ratio: 1/1;
	background: conic-gradient(rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.1) 0%);
	border-radius: 50%;
	animation: animateCircleLoading 1s infinite linear;

	span {
		width: 16px;
		aspect-ratio: 1/1;
		background: rgb(192, 240, 128);
		border-radius: inherit;
	}
}

@keyframes animateCircleLoading {
	to {
		rotate: 360deg;
	}
}

.dd-container {
	display: grid;
	grid-template-rows: 0fr;
	// gap: 10px;
	overflow: hidden;
	transition:
		grid-template-rows 0.3s,
		padding 0.3s;
}

.dd-container--visible {
	grid-template-rows: 1fr;
	padding: 10px 0;
}

.week-notes {
	background-color: #fff;
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	background: rgb(255, 219, 219);
}
