.header-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(calc(100% - 20px), 500px);
	background: #fff;
	z-index: 3;
	padding: 25px;
	border-radius: 10px;
	display: none;
	flex-direction: column;
	gap: 10px;
}

.header-modal--visible {
	display: flex;
}

.header-modal__btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__curtain {
	display: none;
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.header__curtain--visible {
	display: initial;
}

.header {
	border-bottom: var(--primary-border);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box !important;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;

	img {
		height: 40px;
	}
}

.header__logo-title {
	display: flex;
	flex-direction: column;
}

.header__link,
.header__btn {
	background: var(--accent-clr);
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}

// menu-btn

.menu-btn {
	display: none;
}

// menu

.menu {
	background: #fff;
	position: fixed;
	top: 61px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	overflow: auto;
	display: none;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.menu--visible {
	display: flex;
}

.menu__author {
	margin-left: auto;

	a {
		color: var(--accent-clr);
	}
}

@media screen and (width < 700px) {
	.menu-btn {
		display: flex;
	}
}

@media screen and (width < 600px) {
	.header__logo-title {
		display: none;
	}
}
