.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #000;

	img {
		width: 80px;
	}
}
