.visit-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.visit__status-indicator {
	width: 16px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.status--error {
	background: red;
}

.status--loading {
	background: yellow;
}

.status--ok {
	background: yellowgreen;
}
