.plan {
	background: #fff;
	border: var(--primary-border);
	padding: 10px;
	border-radius: 10px;
}

.plan__input {
	border: var(--secondary-border);
	padding: 5px;
	border-radius: 5px;

	&:nth-child(1) {
		flex-grow: 1;
	}
}

.priority--low {
	background: rgba(172, 255, 47, 0.1);
	border: 2px solid rgb(135, 218, 1);
	color: rgb(135, 218, 1);
}

.priority--medium {
	background: rgba(252, 184, 74, 0.1);
	border: 2px solid rgba(252, 184, 74);
	color: rgba(252, 184, 74);
}

.priority--high {
	background: rgba(240, 67, 40, 0.1);
	border: 2px solid rgb(255, 0, 0);
	color: rgb(255, 0, 0);
}
