.register {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}

.register-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: var(--primary-border);
	border-radius: 10px;
	padding: 25px;
	width: 100%;
	max-width: 500px;
}

.register-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.register-input-container {
	display: flex;
	flex-direction: column;
}

.register__input {
	border: var(--secondary-border);
	border-radius: 5px;
	padding: 10px;

	&:focus {
		border: 1px solid #000;
		outline: none;
	}
}

.register__btn {
	background: var(--accent-clr);
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}
